<ion-content [fullscreen]="true">
    <ion-row class="ion-justify-content-center" id="banner">
      <ion-col size="12" size-mg="12" size-lg="12" class="ion-text-center full-height">
       <ion-header collapse="fade">
 
          <!-- HEADER -->
          <ion-row class="align-items-center">
           <ion-col>
             <img srcset="../assets/polivalente.png" width="70px" height="70px" id="logo">
             <h1 id="titulo">Polivalente</h1>
             </ion-col>
           <ion-col>
             <ion-searchbar class="custom"
                 show-cancel-button="never"
                 animated="true"
                 placeholder="Pesquisar..."
                 class="custom"
             ></ion-searchbar>
           </ion-col>
           <ion-col>
             <a>
             <ion-icon name="person-circle-outline" id="perfil" routerLink="/login"></ion-icon>
           </a>
           </ion-col>
         </ion-row>
       </ion-header>
 
 
 
       <!-- OPÇOES -->
 
       <ion-row class="align-items-center" id="segundoheader">
         <ion-col>
           <ion-button>
            <h2>Sem Gluten</h2>
            <img src="../assets/gluten.png" id="gluten">
          </ion-button>
         </ion-col>
         <ion-col>
           <ion-button>
            <h2>Sem Lactose</h2>
            <img src="../assets/lactose.png" id="lactose">
          </ion-button>
        
         </ion-col>
         <ion-col>
           <ion-button>
            <h2>Sem Açúcar</h2>
            <img src="../assets/açucar.png" id="acucar">
          </ion-button>
         </ion-col>
         <ion-col>
           <ion-button>
            <h2>Low Carb</h2>
            <img src="../assets/carboidrato.png" id="carboidrato">
          </ion-button>
         </ion-col>
       </ion-row>
 
    
 <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
 
       <!-- DIVIDER -->
        <ion-row>
       <ion-col size="9">
 <ion-row class="align-items-left" id="espacamento">
  <ion-col size="1"></ion-col>
  <ion-col size="3" id="divider"></ion-col>
  <ion-col size="4" id="nomerec">Nome receita</ion-col>
  <ion-col size="3" id="divider"></ion-col>
  <ion-col size="1"></ion-col>
 </ion-row>

 <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->


 <!--IMAGEM RECEITA-->

 <ion-row class="align-items-center" id="espacoimagem">
  <ion-col size="3"></ion-col>
  <ion-col size="6"> 
  <img src="https://images.pexels.com/photos/18013806/pexels-photo-18013806/free-photo-of-fotografia-aerea-aerofotografia-fotografia-animal-fotografia-de-animais.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="fotorec">
  </ion-col>
  <ion-col size="3"></ion-col>
 </ion-row>


 <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
 
       <!-- DIVIDER -->

       <ion-row class="align-items-center" id="espacamento">
        <ion-col size="1"></ion-col>
        <ion-col size="3" id="divider"></ion-col>
        <ion-col size="4" id="nomerec">Ingredientes</ion-col>
        <ion-col size="3" id="divider"></ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      
 <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

       <!--INGREDIENTES-->
       <ion-row>
        <ion-col size="3"></ion-col>
        <ion-col size="6">
          <ion-item id="ingredientebox" lines="none">
            <ion-list lines="none">
              <h4>asso1</h4>
              <h4>asso1</h4>
              <h4>asso1</h4>
              <h4>asso1</h4>
              <h4>asso1</h4>
              <h4>asso1</h4>
              <h4>asso1</h4>
            </ion-list>
          </ion-item>
        </ion-col>
        <ion-col size="3"></ion-col>
       </ion-row>


        <!-- DIVIDER -->

        <ion-row class="align-items-center" id="espacamento">
          <ion-col size="1"></ion-col>
          <ion-col size="3" id="divider"></ion-col>
          <ion-col size="4" id="nomerec">Modo de Preparo</ion-col>
          <ion-col size="3" id="divider"></ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>

           <!--MODO DE PREPARO-->
       <ion-row>
        <ion-col size="3"></ion-col>
        <ion-col size="6">
          <ion-item id="ingredientebox" lines="none">
            <ion-list lines="none">
              <h4>asso1</h4>
              <h4>asso1</h4>
              <h4>asso1</h4>
              <h4>asso1</h4>
              <h4>asso1</h4>
              <h4>asso1</h4>
              <h4>asso1</h4>
              <h1>dfsfdsfs</h1>
            </ion-list>
          </ion-item>
        </ion-col>
        <ion-col size="3"></ion-col>
       </ion-row>

       
        <!-- DIVIDER -->

        <ion-row class="align-items-center" id="espacamento">
          <ion-col size="1"></ion-col>
          <ion-col size="3" id="divider"></ion-col>
          <ion-col size="3" id="nomerec">
            <ion-icon name="checkmark-circle-outline" id="like"></ion-icon>
            <ion-icon name="close-circle-outline" id="like"></ion-icon>
            <ion-icon name="heart-circle-outline" id="like"></ion-icon>
          </ion-col>
          <ion-col size="3" id="divider"></ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>

      </ion-col>




      <ion-col size="3">
        <ion-row>
          ssjsjsfgsj
        </ion-row>
        <ion-row id="espacoremomendados">
  
            <div id="imgholder" lines="none">
              <ion-col>
              <img src="https://images.pexels.com/photos/17593640/pexels-photo-17593640/free-photo-of-tigela-bowl-bacia-cenoura.jpeg?auto=compress&cs=tinysrgb&w=1600" id="imagensrec">
            </ion-col>
            <ion-col></ion-col>
          </div>

          <div id="imgholder" lines="none">
            <ion-col>
            <img src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&w=1600" id="imagensrec">
          </ion-col>
          <ion-col></ion-col>
        </div>
        
        <div id="imgholder" lines="none">
          <ion-col>
          <img src="https://images.pexels.com/photos/699953/pexels-photo-699953.jpeg?auto=compress&cs=tinysrgb&w=1600" id="imagensrec">
        </ion-col>
        <ion-col></ion-col>
      </div>
          

      </ion-row>
      </ion-col>  
    </ion-row>
 
      <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
      
 
      
   
                            <!-- FOOTER -->
                            <ion-row class="ion-justify-content-center" id="subbanner">


                                        <ion-col size="4" id="colunasfooter">
                                        <ion-title id="redesfooter">Redes Sociais</ion-title>
                                        <ion-icon name="logo-tiktok" id="iconesredes"></ion-icon> 
                                        <ion-icon name="logo-instagram" id="iconesredes"></ion-icon>
                                        </ion-col> 



                                         <ion-col size="4" id="colunasfooter">
                                        <ion-title id="titulofooter">Polivalente</ion-title>
                                        <img src="../../assets/polivalente.png" width="70px" height="70px" id="logofooter">
                                        </ion-col>



                                        <ion-col size="4" id="colunasfooter">
                                        <ion-title id="titulofooter">Envie-nos sua receita!</ion-title>
                                        <ion-icon name="mail-outline" id="iconesredes"></ion-icon>
                                        </ion-col> 

                          
                            
                                      </ion-row>
            


 </ion-col>
 </ion-row>
 </ion-content>
 