// *{
//     outline: 1px dotted whitesmoke;
//     border: 1px solid whitesmoke;
// }

.header, .footer{
--background:rgb(137, 89, 197);
}

.conteudofuncoes{
 --background: rgb(18, 14, 23);
}

.rowfuncoes{
    margin:2%;
}

.botaofuncoes{
--background:rgb(179, 126, 245);
    width:80%;
    margin:3%;
}

.ingredientesTextArea{
    width: 100%;
    height: 200px;
}

.preparoTextArea{
    width: 100%;
    height: 300px;
   
}


 
