

<ion-content [fullscreen]="true">
<ion-row class="ion-justify-content-center">
  <ion-col size="10" size-lg="6" class="ion-text-center full-height">

  <!-- Formulário de Login-->

  <ion-row>
    <ion-col size="12"> 
      <ion-card>
        <ion-card-content>
        <img src="https://images.pexels.com/photos/7534380/pexels-photo-7534380.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        <ion-item lines="none">
          <ion-input label="Senha"></ion-input>
        </ion-item>
        <ion-button routerLink="/main-page">
          <ion-icon name="lock-closed-outline"></ion-icon>
          &nbsp; Acessar
        </ion-button>
       </ion-card-content>
      </ion-card>
      <ion-item lines="none">
        <ion-input label="Usuário"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  </ion-col>
</ion-row>
</ion-content>
