<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
      <ion-list>
        <ion-item lines="none">
          <ion-col>
            <h3>Receitas sem Lactose</h3>
          </ion-col>
          <ion-col>
            <ion-button #homeButton routerLink="../innertable">Home</ion-button>
          </ion-col>
          <ion-col>
            <ion-searchbar placeholder="Pesquisar" class="pesquisa">
            </ion-searchbar>
          </ion-col>


        </ion-item>

        <ion-item>
          <ion-label>Receita 1</ion-label>
          <ion-button (click)="setOpenSL(true)">Abrir Descrição</ion-button>
        </ion-item>

        <ion-item>
          <ion-label>Receita 2</ion-label>
          <ion-button>Abrir Descrição</ion-button>
        </ion-item>

        <ion-item>
          <ion-label>Receita 3</ion-label>
          <ion-button>Abrir Descrição</ion-button>
        </ion-item>

        <ion-item>
          <ion-label>Receita 4</ion-label>
          <ion-button>Abrir Descrição</ion-button>
        </ion-item>

        <ion-item>
          <ion-label>Receita 5</ion-label>
          <ion-button>Abrir Descrição</ion-button>
        </ion-item>

      </ion-list>
    </ion-col>
  </ion-row>


  <!-- Modal Receita SL -->
  <ion-modal [isOpen]="isModalOpenSL" class="modal-fullscreen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Lista de Receitas</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenSL(false)">Fechar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding ion-text-center ion-align-items-center">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h3>Bolo de Chocolate</h3>
            </ion-col>
          </ion-row>
          <ion-row>

            <h4>Ingredientes</h4>
            <ion-button>ED</ion-button>
            <ion-button>EX</ion-button>


            <ion-label>
              1 xicara de amor
            </ion-label>



            <ion-label>
              1 xicara de amor
            </ion-label>



            <ion-label>
              1 xicara de amor
            </ion-label>



            <ion-label>
              1 xicara de amor
            </ion-label>



            <ion-label>
              1 xicara de amor
            </ion-label>





          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>