<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center" id="banner">
    <ion-col size="12" size-md="12" size-lg="12" class="ion-text-center full-height">
     <ion-header collapse="fade">

        <!-- HEADER -->
        <ion-row class="align-items-center">
         <ion-col>
           <img srcset="../../assets/polivalente.png" width="70px" height="70px" id="logo">
           <h1 id="titulo">Polivalente</h1>
           </ion-col>
         <ion-col>
           <ion-searchbar class="custom"
               show-cancel-button="never"
               animated="true"
               placeholder="Pesquisar..."
               class="custom"
           ></ion-searchbar>
         </ion-col>
         <ion-col>
           <a>
           <ion-icon name="person-circle-outline" id="perfil" routerLink="/login"></ion-icon>
         </a>
         </ion-col>
       </ion-row>
     </ion-header>



     <!-- OPÇOES -->

     <ion-row class="align-items-center" id="segundoheader">
       <ion-content id="tres-tracinho">
       <ion-buttons slot="start">
         <ion-menu-button auto-hide="false" menu="main-menu"></ion-menu-button>
       </ion-buttons>
       <ion-title>Menu Button</ion-title>
     </ion-content>
       <ion-col>
         <ion-button>
          <h2>Sem Gluten</h2>
          <img src="../assets/gluten.png" id="gluten">
        </ion-button>
       </ion-col>
       <ion-col>
         <ion-button>
          <h2>Sem Lactose</h2>
          <img src="../assets/lactose.png" id="lactose">
        </ion-button>
      
       </ion-col>
       <ion-col>
         <ion-button>
          <h2>Sem Açúcar</h2>
          <img src="../assets/açucar.png" id="acucar">
        </ion-button>
       </ion-col>
       <ion-col>
         <ion-button>
          <h2>Low Carb</h2>
          <img src="../assets/carboidrato.png" id="carboidrato">
        </ion-button>
       </ion-col>
     </ion-row>









               <!-- DIVIDER -->
               <ion-row class="align-items-center" id="espacamento">
                 <ion-col></ion-col>
                 <ion-col size="3"id="divider"></ion-col>
                 <ion-col size="3"id="destaques">OPÇÕES SEM LACTOSE</ion-col>
                 <ion-col size="3"id="divider"></ion-col>
                 <ion-col></ion-col>
               </ion-row>



               <!--  RECEITAS -->

                 <ion-row ion-justify-content-center ion-align-items-center>
                   <ion-col size="2"></ion-col>
                   <ion-col size="6">
               <div class="imagens">
 
 
                     <img src="https://images.pexels.com/photos/1854664/pexels-photo-1854664.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/3590401/pexels-photo-3590401.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/3642030/pexels-photo-3642030.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/2664216/pexels-photo-2664216.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/61180/pexels-photo-61180.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/3789885/pexels-photo-3789885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/2280545/pexels-photo-2280545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/299347/pexels-photo-299347.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/920220/pexels-photo-920220.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/718742/pexels-photo-718742.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/1099680/pexels-photo-1099680.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/1171959/pexels-photo-1171959.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/842571/pexels-photo-842571.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/1633525/pexels-photo-1633525.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/1854664/pexels-photo-1854664.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/3590401/pexels-photo-3590401.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/3642030/pexels-photo-3642030.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/2664216/pexels-photo-2664216.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/61180/pexels-photo-61180.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/3789885/pexels-photo-3789885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/17058050/pexels-photo-17058050/free-photo-of-arquitetura-praia-litoral-ponte.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/2280545/pexels-photo-2280545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">
                     <img src="https://images.pexels.com/photos/299347/pexels-photo-299347.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imagem" expand="block">

     
                               <ion-content class="ion-padding">
                                 <ion-modal id="modal" #modal trigger="imagem">
                                   <ng-template>
                                   
                                       
                                         <ion-item button="true" detail="false" (click)="modal.dismiss()" id="cardzin" lines="none" routerLink="/receita">
                                         <img src="https://images.pexels.com/photos/299347/pexels-photo-299347.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imgrec">
                                         <ion-col size="7">
                                           <h5 id="nomerec">Nome da Receita</h5>
                                           <h4>Passa pra eles estar no ponto as 12:45 do ônibus 01.
                                             Ônibus 02 umas 12:55.
                                             Eu que agradeço 🙏
                                             Amém 🙏
                                             Deus abençoe tbm 🙏Passa pra eles estar no ponto as 12:45 do ônibus 01.
                                             Ônibus 02 umas 12:55.
                                             Eu que🙏</h4>
                                         </ion-col>
                                         <ion-col size="2" id="colcard">
                                           <div id="restri">
                                           <img src="../assets/gluten.png" id="gluten" class="iconsrestr">
                                           <img src="../assets/lactose.png" id="lactose" class="iconsrestr">
                                           <img src="../assets/açucar.png" id="acucar" class="iconsrestr">
                                           <img src="../assets/carboidrato.png" id="carboidrato" class="iconsrestr">
                                           </div>
                                         </ion-col>
                                         </ion-item>
                                       
                                         <!-- <ion-item button="true" detail="false" (click)="modal.dismiss()" id="cardzin" lines="none">
                                           <ion-col size="2" id="colcard"><img src="https://images.pexels.com/photos/299347/pexels-photo-299347.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="imgrec"></ion-col> 
                                           <ion-col size="9" id="colcard"><ion-title id="nomerec">Nome da Receita</ion-title></ion-col>
                                           <ion-col size="1" id="colcard"></ion-col>
                                         </ion-item>
                                       
                                   -->
                                   </ng-template>
                                 </ion-modal>
                               </ion-content>
               </div>
             </ion-col>
                   <!-- FILTRAGEM -->
                   <ion-col>
                   <div class="box">
                     <h1 id="letreiro">Tipo</h1>
                     <div class="boxxie">
                      
                       <ion-checkbox labelPlacement="end">Entrada</ion-checkbox>
                       <br/>
                       <ion-checkbox labelPlacement="end">Prato principal</ion-checkbox>
                       <br/>
                       <ion-checkbox labelPlacement="end">Pestisco</ion-checkbox>
                       <br/>
                       <ion-checkbox labelPlacement="end">Bebida</ion-checkbox>
                       <br/>
                       <ion-checkbox labelPlacement="end">Sobremesa</ion-checkbox>
                       <br/>
                     
                     </div>
                   </div>
                 </ion-col>
                 <ion-col></ion-col>
                   </ion-row>


                 <!-- DIVIDER -->
               <ion-row class="align-items-center" id="espacamento">
                 <ion-col></ion-col>
                     <ion-col size="2"id="divider"></ion-col>
                             <ion-col size="2" class="ion-align-items-center ion-justify-content-center" id="pag">
                               <ion-icon name="chevron-back-outline" id="esquerda"></ion-icon>
                                     <h5 id="paginacao">1</h5>
                                     <h5 id="paginacao">2</h5>
                                     <h5 id="paginacao">3</h5>
                                     <h5 id="paginacao">4</h5>
                                     <h5 id="paginacao">5</h5>
                               <ion-icon name="chevron-forward-outline" id="direita"></ion-icon>
                             </ion-col>
                     <ion-col size="5"id="divider"></ion-col>
                 <ion-col></ion-col>
               </ion-row>
                   




























 

                           <!-- FOOTER -->
                           <ion-row class="ion-justify-content-center" id="subbanner">


                                       <ion-col size="4" id="colunasfooter">
                                       <ion-title id="redesfooter">Redes Sociais</ion-title>
                                       <ion-icon name="logo-tiktok" id="iconesredes"></ion-icon> 
                                       <ion-icon name="logo-instagram" id="iconesredes"></ion-icon>
                                       </ion-col> 



                                        <ion-col size="4" id="colunasfooter">
                                       <ion-title id="titulofooter">Polivalente</ion-title>
                                       <img src="../../assets/polivalente.png" width="70px" height="70px" id="logofooter">
                                       </ion-col>



                                       <ion-col size="4" id="colunasfooter">
                                       <ion-title id="titulofooter">Envie-nos sua receita!</ion-title>
                                       <ion-icon name="mail-outline" id="iconesredes"></ion-icon>
                                       </ion-col> 

                         
                           
                                     </ion-row>
           
              

      </ion-col>
        </ion-row>
</ion-content>