*{
  // outline: 1px dotted black;
  // border: 1px solid black;
  margin:0;
  padding:0;
  border:0;
  overflow: hidden;
  box-shadow: none;
}

:root{

  --extra-small-size: 4px;
  --smal-size: 8px;
  --medium-size: 16px;
  --large-size:32px;
  --extra-large-size: 32px;

  --font-color: black;
  
}

            //HEADER


#banner{
  background: #EFE4F6;
  width: auto;
}

ion-header{
  background: rgb(189,136,253);
  background: linear-gradient(90deg, rgba(189,136,253,1) 35%, rgba(239,228,246,1) 100%);
  width:100%;
  height: 10vh;
}


ion-searchbar.custom{
  --background: #EFE4F6;
  --color: #473BA3;
  --placeholder-color: #473BA3;
  --icon-color: #473BA3;
  --clear-button-color: #473BA3;
  --border-radius: 30px;
  --box-shadow: none;
}

#logo{
  flex-direction: row;
  justify-content: flex-start;
  float: left;
  margin: 10px;
  transition: 0.5s;
  width:4vw;
  height:7vh;
  
}

#logo:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#titulo{
  width:auto;
  height: auto;
  display: flex;
  margin: 3%;
  margin-left:20%;
  justify-content:left;
  align-items: center;
  color:#473BA3;
  font-weight: bold;
  transition: 0.5s;
}

#titulo:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#perfil{
  width:7vw;
  height:7vh;
  float:right;
  margin: 3%;
  color:#473BA3;

}

#segundoheader{
  background: #BD88FD;
  height: 7vh;
}
ion-button{
  justify-content: center;
  --background: #C9ADEB;
  --border-radius: 120px;
  color: black;
  font-weight: bold;
  box-shadow: none;
  transition: 0.7s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;;
  height:5vh;
  width:50%;
  font-size: 15px;
}

ion-button:hover {
  --moz-transform: scale(1.2);
  --webkit-transition: all 0.2s;
  transition: all 0.2s;
  width:60%;
  text-align: start;
  border-radius: 120px;
  justify-content: space-between;
 
}

ion-button img{
  display: none;
}
ion-button:hover img{
  display: flex;
  width: 37px;
  height: 37px;
  margin-left: 12px;
}
h2{
  text-align: center;
  height: auto;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 100%;
}
h2:hover{
  text-align: start;
  justify-content: left;
  color: black;
  font-weight: bold;
}
  // #acucar{
  //   display:none;
  //   width: 100%;
  //   height: 100%;
  // }
  // #acucar:hover{
  //   display:block;
  //   width: 100%;
  //   height: 100%;
  // }
ion-button:hover + #acucar{
  width: 100%;
  height: 100%;
  display: block;
  text-align: left;
  justify-content: left;
}


#tres-tracinho{
  display:none;
}



                  // DIVISOR

                  #divider{
                    background-color: #473BA3;
                    height: 4px;
                    border-radius: 90px;
                    justify-content: center;
                    align-items: center;
                  }
                  #espacamento{
                    margin: 1%;
                    height: 10vh;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                  }
                  #destaques{
                    align-items: center;
                    justify-content: center;
                    width:auto;
                    height: auto;
                    color: black;
                    font-weight: bold;
                    font-size: 20px;
                  }

                  #imagem1{
                    margin:10px;
                    padding:10px;
                  }
                  #imagem2{
                    margin:10px;
                    padding:10px;
                  }
                  #imagem3{
                    margin:10px;
                    padding:10px;
                  }
                  #carddestaques{
                    width: 950px;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    background-color: #C294F8;
                  }

  ion-icon{
    width: 60px;
    height: 150px;
    vertical-align: middle;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#473BA3;
  }

  // LISTA RECEITAS
  #listareceitas{
    --width: auto;
  }
  
  
  #imagem{
   width: 12vw;
   height: 9vh;
   margin: 2%;
  }

  
  // TIPOS
  .box{
    justify-content: center;
    align-items: center;
    margin: 5%;
    width: 90%;
    height:auto;
    border-radius: 10%;
    background: #D0BCE8;
  }
  .boxxie{
    height: auto;
    margin: 3%;

    background: #EFE4F6;
    border-radius: 15px;
  }

  h1{
    color: black;
    font-size: 30px;
  }

  ion-checkbox {
    --size: 25px;
    --checkbox-background-checked: #6815ec;
    --checkbox-background:#EFE4F6;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    color: black;
  }
  
  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #6815ec;
    
  }
  ion-checkbox:hover{
    background-color: #D0BCE8;
    text-align: left;
    transition: 0.4s;
  }
  






//  FOOTER

  #subbanner{
    background-color: #C294F8;
    background:#C294F8;
    color:#C294F8;
    height: 15vh;
    width:auto;
    margin-top: 2%;
  }

  #colunasfooter{
    height: auto;
  }

  ion-title{
    color:black;
    width: 200px;
  }

  #logofooter{
    justify-content: center;
    align-items: center;
    margin: 10px;
    transition: 0.3s;
  }
  #logofooter:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);

  }

  #titulofooter{
    width:auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:#473BA3;
    font-weight: bold;
    font-size: 25px;
    margin-top:10px;
  }

  #redesfooter{
    width:auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:#473BA3;
    font-weight: bold;
    font-size: 25px;
    margin-top:10px;
  }

  #iconesredes{
    height:60px;
    width:60px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    transition: 0.3s;
  }
  #iconesredes:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);

  }






  

  #pag{
    display: flex;

  }
  #esquerda{
    height: 4vh;
    width: 4vw;
    color:#473BA3;
    margin: 2%;
  }

  #direita{
    height: 4vh;
    width: 4vw;
    color:#473BA3;
    margin: 2%;
  }

  #paginacao{
    height: auto;
    width: auto;
    margin: 2%;
    color: black;
    font-weight: bold;
  }

  //carousel 

#caro{
  // justify-content: center;
  // align-items: center;
  // width:70vw;
  // display: flex;
  margin: 1%;
  height: 20vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.wrapper{
  width:90%;
  max-width: 90%;
  justify-content: center;
  align-items: center;
 
    // position: relative;
}

.wrapper i{
  //  width:5%;
  //  height: auto;
  // //  top: 50%;
  //  background: #fff;
   cursor: pointer;
   position: absolute;
  //  font-size: 1.3rem;
  //  text-align: center;
   
   color: rgb(43, 20, 65);
}

.wrapper i:hover{
    background: #d5b2e4;
}

.wrapper i:first-child{
    left: -23px;
}

.wrapper i:last-child{
    right: -23px;
}

.wrapper .carousel{
    white-space: nowrap;
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
}


.carousel .dragging{
    cursor: grab;
}

.carousel .dragging img{
    pointer-events: none;
}

.carousel img{
    height: 250px;
    width: calc(100% / 3);
    object-fit: cover;
    padding: 4px;
    margin-left: 14px;
}

.carousel img:first-child{
    margin-left: 0px;
}

@media screen and (max-width:900px) {
    .carousel img{
        width: calc(100% / 2);
    }
}

@media screen and (max-width:550px) {
    .carousel img{
        width: 100%;
    }
}

#left{
  width:5%;
  height: auto;
}

#right{
  width:5%;
  height: auto;
}





//card receitas
ion-modal {
  --width: fit-content;
  --min-width: 30%;
  --max-width: 70%;
  --height: fit-content;
  --min-height: 20%;
  --border-radius: 6px;
  --box-shadow:none;
  --background: #D0BCE8;
}

.cardzin{
  --background: #D0BCE8;
}
.imgrec{
width:15vw;
height:20vh;
margin:1%;
}
.colcard{
  height:90%;
  float: right;
}
.nomerec{
width:auto;
height:auto;
font-size:30px;
align-items: center;
justify-content: center;
font-weight: bold;
color:#473BA3
}

.restri{
  height:100%;
  // display:grid;
  // grid-template-columns: 50% 50%;
  // grid-row: auto auto;
  // grid-column-gap: 5%;
  // grid-row-gap: 5%;
}
.iconsrestr{
  height:40%;
  width:40%;
  margin:5%;

}
.restri{
  margin:5%;
}
// #restri #gluten{
  
//   margin:5%;
//   float:left;
// }
// #restri #lactose{
  
//   margin:5%;
//   float:right;
// }
// #restri #acucar{
  
//   margin:5%;
//   float:left;
//   justify-content: first baseline;
// }
// #restri #carboidrato{
  
//   margin:5%;
//   float:right;
//   justify-content: last baseline;
// }

h4{
  color: black;
  font-size: 20px;
}