<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-row>
  <ion-col size="4">

      <img alt="foto da pessoa" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"/>
    </ion-col>

    <ion-col>
      <ion-col size="12">
        <ng-container *ngFor="let perfil of this.perfil">
            <ion-item>
              <ion-label>{{ perfil.nome }}</ion-label>
              <ion-label>{{ perfil.profissao }}</ion-label>
            </ion-item>
        </ng-container>
  
    </ion-col>

</ion-row>
</ion-content>
