<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Etec
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--menu superior-->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Etec</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row class="ion-justify-content-center">
  <ion-col size="6">
    <ion-segment value="desis" (ionchange)="trocouCurso($event)">
      <ion-segment-button value="desis">
        <ion-label>Desenvolvimento de sistemas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="culi">
        <ion-label>Culinária</ion-label>
      </ion-segment-button>
      <ion-segment-button value="quimi">
        <ion-label>Química</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-col>
  </ion-row>

  <!-- conteúdo de desenvolvimento de sistemas-->

  <ng-container *ngIf="this.item_selecionado == 'desis'">
  <ion-row class="ion-justify-content-center">
    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/12842477/pexels-photo-12842477.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>Ionic e Bootstrap</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/16149578/pexels-photo-16149578.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>HTML E CSS</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/9430857/pexels-photo-9430857.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>GITHUB</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ng-container>

  <!-- conteúdo CULINARIA-->

  <ng-container *ngIf="this.item_selecionado == 'quimi'">
  <ion-row class="ion-justify-content-center">
    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/12842477/pexels-photo-12842477.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title>Culinária Francesa</ion-card-title>
          <ion-card-subtitle>Ionic e Bootstrap</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/16149578/pexels-photo-16149578.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>HTML E CSS</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/9430857/pexels-photo-9430857.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>GITHUB</ion-card-subtitle>
          </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ng-container>


  <!-- conteúdo de quimica-->


  <ng-container *ngIf="this.item_selecionado == 'culi'">
  <ion-row class="ion-justify-content-center">
    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/15176454/pexels-photo-15176454.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title>Quimica farmacia</ion-card-title>
          <ion-card-subtitle>Ionic e Bootstrap</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/1028425/pexels-photo-1028425.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
          <ion-card-title>Quimica metanfetamina</ion-card-title>
          <ion-card-subtitle>HTML E CSS</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="image.png" />
        <ion-card-header>
          <ion-card-title>Quimica legal</ion-card-title>
          <ion-card-subtitle>GITHUB</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ng-container>




</ion-content>

